* {
  box-sizing: border-box;
}

/*Some mentor help here to make my containers work side by side */

.float-container {
	background-color: #656C5C;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/*
@media only screen and (max-width: 500px) {
  flex-direction: column;
}
*/

/* this doesn't seem to work with repl.it */

.float-title-one {
	width: 35%;
	display: inline-block;
	padding: 20px;
	background-color: #656C5C;
}


.float-title-two {
	width: 60%;
	display: inline-block;
	margin-top: 10px;
	background-color: #656C5C;
}


.image-circle {
	border-radius: 50%;
}


img {
	border: 1px solid #C6C62F;
	padding: 4px;
	margin: 10px
}


header, footer {
	background-color: #656C5C;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
	background-color: #D6D9DE;
}


hr {
	color: #AC7985;
	background-color: #AC7985;
	height: 3px;
	margin-top: 25px;
	margin-bottom: 25px;
}


main {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 14px;
}


h1, h2 {
	line-height: 6%;
	color: #C6C62F;
	font-family: Garamond, Georgia, serif;
	text-align: left;
}


h1 {
	font-size: 48px;
}


h2 {
	font-size: 25px;
}


h4 {
	font-size: 12px;
	margin-left: 30px;
}


h3, h4, p, {
	color: #2E1C18;
	text-align: center;
}


/* move all the text over a bit */
article {
	margin-left: 50px;
	margin-right: 50px;
}


/* adjust the link colors based on activity */
a:link {
	color: #2E1C18;
}
a:visited {
	color: #656C5C;
}
a:hover {
	color: #AC7985;
}


footer {
	padding: 10px;
	color: #C6C62F;
}